
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.8px;
}
body {
  background: #1E1F25;
}
#content{

  display: grid;
  grid-template-columns: repeat(6,1fr);
}

/* nav bar */
header {
  grid-column: 1/7;
  justify-content: center;
  display: flex;
}

.navBar {
  grid-column: 3/5;
  display: flex;
}
.navBar ul{
  display: flex;
  width: 100%;
  margin: auto;
  max-width: 1000px;
  justify-content: space-between;
  text-align: center;

}
.navBar li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
  list-style-type: none;
  min-width: 80px;
  margin: auto;
}

.navBar a {
  color: #ebebeb;
  font-size: 2vw;
}

.navBar li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
  font-weight: bold;
}
.navBar li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

/* about me */

#me {
  display: grid;
  grid-template-columns: repeat(6,1fr);
}
#aboutMe {
  grid-column: 2/5;
  display: flex;
  background-color: #FFFFFF;
  border-radius: 2%;
  height: 35vh;
  margin: 20vh;
  flex-direction: column;
  box-shadow: 5px 10px #888888;

}

.imgOfMe {
  display: flex;
  grid-column: 5/6;
  justify-content: center;
  /* text-align: center; */
  align-items: center;


}

#aboutMe  p {
  margin-top: 1rem;
  width: 100%;
}
.img {

  margin-top: 1vw;
  margin-bottom: 1vw;
}

.imgMe {
  height: 10vw;


}

.contentAboutMe {
  display: flex;
  grid-column: 2/6;
  background-color: #FFFFFF;
  border-radius: 2%;
  flex-direction: column;
}
.contentAboutMe > h3 {
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 1.7vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
.contentAboutMe > p {
  margin-left: 1vw;
  margin-right: 1vw;
}


  /* download page*/
.idDown {
  text-align: center;
  font-size: 3vw;
  display: flex;
  grid-column: 3/5;
  justify-content: center;

}

.text {
  font-size: 1vw;
  display: flex;
  grid-column: 3/5;
  justify-content: center;
}
#donwloadPage {
  display: grid;
  grid-template-columns: repeat(6,1fr);
}
#donwloadPage > *{
  color: #E6E7ED ;

}

.contentDow {
  margin-top: 2vw;
  display: flex;
  grid-column: 2/6;
  background-color: #B5B6BC;
  box-shadow: 5px 10px #CBCCD2;
  border-radius: 8px;
  flex-direction: column;
}
.idOfType {
  text-align: center;
}
